.projects-container {
  position: relative;
}

.projects-root {
  position: relative;
  max-width: 1000px;
  height: unset;
  margin: 0 auto;
  z-index: 2;
}

.projects-root-header {
  margin-bottom: 24px;
}

.projects-svg {
  position: absolute;
  right: 0;
  z-index: -1;
  height: 150px;
  margin-top: 25px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  color: white;
}

.background-svg-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.projects-background-svg {
  position: sticky;
  margin-top: 5%;
  top: 15%;
  z-index: 1;
  height: 50%;
  opacity: 1;
}

.loading-wrapper {
  position: relative;
}

.loading-wrapper .loading-icon {
  color: black;
  font-size: larger;
}

.loading-wrapper .loading-progress {
  color: black;
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: 1;
}

@media screen and (max-width: 959px) {
  .projects-background-svg {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .projects-svg {
    margin-top: 15px;
    height: 125px;
  }
}
