.profile-root {
  background-color: white;
}

.profile-intro {
  flex-wrap: wrap-reverse;
}

.profile-intro * {
  z-index: 2;
}

.profile-bg {
  position: absolute;
  height: 40%;
  /* width: 100%; */
  z-index: 1;
}

.profile-social-media {
  margin-top: 16px;
  font-size: 48px;
}

.profile-social-media svg {
  margin-right: 16px;
  cursor: pointer;
}

.name {
  color: var(--primary-color);
}

.profile-pic {
  border-radius: 100vh;
}
