.profile-root {
  background-color: white;
}

.profile-intro {
  flex-wrap: wrap-reverse;
}

.profile-intro * {
  z-index: 2;
}

.profile-bg {
  position: absolute;
  height: 40%;
  z-index: 1;
}

.profile-social-media {
  margin-top: 16px;
  font-size: 48px;
}

.profile-social-media svg {
  margin-right: 16px;
  cursor: pointer;
}

.name {
  color: var(--primary-color);
}

.profile-pic {
  border-radius: 100vh;
  height: 400px;
  width: 400px;
}

.profile-text {
  position: relative;
}

.typewriter h1:nth-child(n) {
  overflow: hidden;
  border-right: 0.025em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  opacity: 0;
  animation: typing 1s steps(40, end) forwards,
    blink-caret 500ms step-end 2 forwards,
    noneToVisible 100ms step-end 1 forwards;
}

#profile-title-2 {
  animation-delay: 1s;
}

#profile-title-3 {
  animation: typing 1s steps(40, end) forwards,
    blink-caret 500ms step-end infinite forwards,
    noneToVisible 100ms step-end 1 forwards;
  animation-delay: 2s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 1%;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes noneToVisible {
  from,
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1139px) {
  .profile-pic {
    height: 200px;
    width: 200px;
  }

  .profile-text h1 {
    font-size: 48px;
  }
}
