body,
html,
#root {
  height: 100%;
  position: relative;
  background-color: transparent;
  --primary-color: #005fde;
}

.responsive-width {
  padding: 24px;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
  margin: unset;
}

h2 {
  font-size: 48px;
  margin: unset;
}

.parallax {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/city.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.MuiFab-primary {
  background-color: var(--primary-color);
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 9vw;
  }

  h2 {
    font-size: 32px;
  }
}
