body,
html,
#root {
  height: 100%;
  position: relative;
  background-color: #ffffff;
  --primary-color: #005fde;
}

.section-root {
  position: relative;
  height: 100vh;
}

.content-area {
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.responsive-width {
  padding: 24px;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
  margin: unset;
}

h2 {
  font-size: 48px;
  margin: unset;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.MuiFab-primary {
  background-color: var(--primary-color);
}
